$black:#000;
$darkGrey:#444;
$white:#fff;

$color_party-lib_red:#f00;
$color_party-pc_blue:#141f7f;
$color_party-ndp_orange:#ed5300; 
$color_party-grn_green:#11681d;
$color_party-other_grey:#ccc;

$ridingWidth:600px;


.candidate{
  margin-left:5em;
  width:$ridingWidth - 150
}

:global(.candidate) {
  @at-root #{&}_ind {
    color:$black;
    background-color:$color_party-other_grey;
    background-image:
    linear-gradient(#999, $color_party-other_grey)
  }
  @at-root #{&}_grn {
    color:$white;
    background-color:$color_party-grn_green;
    background-image:
    linear-gradient(#31bc0b, $color_party-grn_green)
  }
  @at-root #{&}_lib {
    color:$white;
    background-color:$color_party-lib_red;
    background-image:
    linear-gradient($color_party-lib_red, #a50b27)
  }
  @at-root #{&}_ndp {
    color:#fdfdfd;
    background-color:$color_party-ndp_orange;
    background-image:
    linear-gradient(#ea9502, $color_party-ndp_orange)
  }
  @at-root #{&}_pc {
    color:$white;
    background-color:$color_party-pc_blue;
    background-image:
    linear-gradient(#0ea2f2, $color_party-pc_blue)
  }
}

:global(.candidateWinner){
  background-color:$darkGrey;
  color:$white;
  padding: 0.25em;
  width: 72%
}

:global(.cap){
  text-transform:uppercase
}

:global(.label){
  display:inline-table;
  font-weight:bold;
  margin-right:0.25em;
  padding:0.1em 0.25em;
  width:3em
}

:global(.labelWinner){
  border:1px solid $white
}

.result{
  display:inline-block;
  line-height:1;
  margin-left:1em;
  vertical-align:top;
  width:80%
}

:global(.summaryWinner){
  font-weight:bold
}

